<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="verify_mail.css">
</head>
<body>
<% if(value=="verify"){ %>
    <div class="header">
    <h1><%= message %></h1>
    <% if(status=="success"){ %>
    <p>if already activated press the below button for login</p>
    <a href="/login" class="submit" style="text-decoration: none;">Login</a>
    <% } %>
</div>
    <% }else if(value=="forgot"){ %>
   <div class="header"> 
    <h1>Enter your new password</h1 >
        <hr>
        <div class="box">
        <form action="/forgot_password1" method="POST">
    <input type="text" placeholder="Enter here..." name="password" style="width:100%; padding: 5px;">
    <br>
    <input type="submit" value="submit" class="submit">
    </form>
</div>
</div>
    <% } %>
    </body>
</html>