.header {
  background-color: white;
  border: 1px solid black;
  width: 20rem;
  height: 20rem;
  margin: auto;
  margin-top: 19vh;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  text-align: center;

}

.box {

  margin: 2rem 0;
}

.submit {
  background: #537FE7;
  width: 8rem;
  margin: auto;
  padding: 10px 15px;
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: white;
  font-size: large;
  cursor: pointer;
}

.submit:hover {
  background: white;
  border: 1px solid #537FE7;
  color: #537FE7;
}

body {
  background: url("https://c8.alamy.com/comp/2J0C4D4/change-password-written-on-a-sticky-note-on-a-computer-keyboard-wooden-office-desk-with-coffee-cup-paper-and-glasses-concept-for-data-security-in-2J0C4D4.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box>label {

  float: left;
  margin-bottom: 5px;
}

.box>input {
  width: 100%;
  padding: 5px;
}

.cursor {
  cursor: pointer;
}